* {
  font-family: 'Roboto', sans-serif;
}


body {
  background: linear-gradient(225.06deg, #C92031 1.04%, #A72C39 27.44%, #94333E 42.29%, #813A43 57.68%, #6D4248 73.45%, #59494D 89.22%, #4B4E50 100%);
  background-size: 700px 700px;
  font-family: 'Montserrat';
  font-size: 22px;

  padding: 50px;
}

#pathtofile{
  font-family: 'Montserrat';
  position: absolute;
  width: 296px;
  height: 56px;
  left: 42px;
  top: 56px;


  background: #FFFFFF;
  border: 0.5px solid rgba(37, 37, 37, 0.3);
  box-sizing: border-box;
  box-shadow: inset 1px 1px 15px rgba(37, 37, 37, 0.1);
  border-radius: 5px;
}

#pathtofile:placeholder {
  color: rgba(255, 255, 0, 0.5);
}
#show1 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 16px 24px;

  position: absolute;
  width: 136px;
  height: 56px;
  left: 362px;
  top: 56px;

  border: 1px solid #FFFFFF;
  box-sizing: border-box;
  border-radius: 5px;

  background-color: Transparent;
  background-repeat:no-repeat;
  cursor:pointer;
  overflow: hidden;

  color: #FFFFFF;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
}

#show2 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 16px 24px;

  position: absolute;
  width: 136px;
  height: 56px;
  left: 522px;
  top: 56px;

  outline: #FFFFFF;
  border-color: #FFFFFF;

  background: #FFFFFF;
  border-radius: 5px;

  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
}

 #dropdownlist{

   display: flex;
   flex-direction: row;
   justify-content: flex-end;
   align-items: center;
   padding: 8px;

   position: absolute;
   width: 136px;
   height: 40px;
   left: 42px;
   top: 182px;

   background: #FFFFFF;
   border: 0.5px solid rgba(37, 37, 37, 0.3);
   box-sizing: border-box;
   box-shadow: inset 0px 4px 8px rgba(37, 37, 37, 0.15);
   border-radius: 5px;
 }
